/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.navbar {
  background-color: #1e90ff;
}

.navbar-brand img {
  height: 50px;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffdd00;
}

/* Header */
h1 {
  color: #1e90ff;
  font-size: 2.5rem;
  margin-top: 20px;
}

/* Form Styles */
.form-control {
  border-radius: 20px;
  border: 2px solid #1e90ff;
}

.btn-primary {
  background-color: #ffdd00;
  border: none;
  color: #343a40;
  font-weight: bold;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #fbb034;
  color: #ffffff;
}

/* Carousel Styles */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.carousel-caption h2 {
  color: #ffdd00;
  font-size: 1.5rem;
}

.carousel-caption p {
  color: #ffffff;
}

/* Card Styles */
.card {
  border: 2px solid #1e90ff;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 100%; /* Ajuste para que todas las tarjetas ocupen el 100% de la altura disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 250px; /* Aumentar la altura para evitar desajustes */
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.card-title {
  color: #1e90ff;
  font-size: 1.25rem;
  word-break:normal;
  overflow-wrap:break-word;
  font-weight: bold;
  margin-bottom: 10px; /* Asegura que haya espacio entre el título y el resto del contenido */
}

.card-text {
  color: #343a40;
  flex-grow: 1; /* Permite que la descripción se expanda, manteniendo el botón en la parte inferior */
}

.card .btn {
  margin-top: 10px; /* Pequeño margen superior para separar el botón del contenido */
}

.btn-primary {
  background-color: #1e90ff;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #ffdd00;
  color: #343a40;
}

/* Social Icons */
.btn-social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #1e90ff;
  border-radius: 50%;
  color: #1e90ff;
}

.btn-social-icon:hover {
  background-color: #1e90ff;
  color: #ffffff;
}

.btn-social-icon img {
  height: 24px;
  width: 24px;
}

/* Contact Form Styles */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.contact-form {
  width: 100%;
  max-width: 500px;
}

/* Table Styles */
.table thead th {
  background-color: #676b70;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.table tbody td {
  text-align: center;
}

.table-bordered {
  border: 2px solid #1e90ff;
}

.table-bordered th,
.table-bordered td {
  border: 2px solid #c9e0f6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
  background-color: #e0f7ff;
}

/* Specific Styles for Event Details Page */
.event-details-container {
  margin-top: 30px;
}

.event-details-header {
  text-align: center;
  margin-bottom: 30px;
}

.event-details-header h1 {
  font-size: 3rem;
  color: #1e90ff;
}

.event-details-body {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-details-body h5 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.event-details-body p {
  font-size: 1.25rem;
}

.event-details-footer {
  margin-top: 30px;
  text-align: center;
}

/* Estilos para el elemento "cohort" */
.cohort {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cohort h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cohort p {
  font-size: 16px;
  line-height: 1.6;
}

.social-icons {
  display: inline-block; /* Hace que los elementos dentro de .social-icons se alineen en línea */
}

.social-icons .d-inline-block {
  margin-right: 10px; /* Espacio entre los iconos de redes sociales */
}

.social-icons .cohort {
  float:right; /* Alinea COHORT a la derecha */
  margin:auto /* Espacio superior para separarlo un poco de los iconos */
}
